:root {
  --ff: "Open Sans", sans-serif;
  --ff-dm:"DM Serif Text", serif;

  --fw-black: 880;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-thin: 200;

  --fs-800: clamp(3rem, 2.125rem + 3.3333vw, 4.625rem);
  --fs-750: 3rem;
  --fs-700: clamp(1.75rem, 1.649rem + 0.3846vw, 1.9375rem);
  --fs-650: 1.75rem;
  --fs-600: 1.25rem;
  --fs-400: 1rem;
  --fs-350: 0.8rem;

  --fs-logo-xl: normal var(--fw-bold) var(--fs-650) / 1.29 var(--ff-dm);
  --fs-heading-xl: normal var(--fw-bold) var(--fs-800) / 1.29 var(--ff-dm);
  --fs-heading-l: normal var(--fw-regular) var(--fs-750) / 1.15 var(--ff-dm);
  --fs-headline-l: normal var(--fw-thin) var(--fs-700) / 1.43 var(--ff);
  --fs-subheading-l: normal var(--fw-light) var(--fs-650) / 1.43 var(--ff);
  --fs-subheading-m: normal var(--fw-bold) var(--fs-600) / 1.4 var(--ff);
  --fs-paragraph: normal var(--fw-light) var(--fs-400) / 1.5 var(--ff);

  --fs-error-xs: normal var(--fw-regular) var(--fs-350) / 1.5 var(--ff);
}

h1 {
  font: var(--fs-heading-xl);
}
h2, h3{
  font: var(--fs-heading-l);
  color: var(--clr-text-dark);
}

p {
  font: var(--fs-paragraph);
  color: var(--clr-text-grey);
}

.copyright {
  font: var(--fs-paragraph);
  color: var(--clr-text-lightblue);
}

.form-group{
  font: var(--fs-paragraph);
}

.error {
  font: var(--fs-error-xs);
}