# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules and .env files in both backend and frontend
backend/node_modules/
backend/.env
frontend/node_modules/
frontend/.env

# Build directories
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private files
.env

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .vite/deps folder (Vite dependencies)
frontend/.vite/deps/

# Ignore Vite config file in frontend
frontend/vite.config.js